<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="container">
        <div class="profile-form">
            <h1>Update Profile</h1>
            <form id="update-profile-form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" value="{{user.username}}">
                </div>
                <div class="form-group">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" name="firstName" value="{{user.firstName}}">
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" name="lastName" value="{{user.lastName}}">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="{{user.email}}">
                </div>
                <div class="form-group">
                    <label for="income">Income</label>
                    <input type="number" id="income" name="income" value="{{user.income}}">
                </div>
                <div class="form-group">
                    <label for="password">Password (leave blank if not changing)</label>
                    <input type="password" id="password" name="password">
                </div>
                <button type="submit">Update Profile</button>
            </form>
        </div>
        <div class="profile-info-container">
            <div class="profile-info">
                <h2>Profile Information</h2>
                <p>Username: {{user.username}}</p>
                <p>First Name: {{user.firstName}}</p>
                <p>Last Name: {{user.lastName}}</p>
                <p>Email: {{user.email}}</p>
                <p>Income: ${{user.income}}</p>
                <div class="password-info" data-password="{{user.password}}">
                    <p>Password: ********</p>
                </div>
            </div>
        </div>

    </div>

    <script src="/js/profile.js"></script>
</body>
</html>

